/* TYPOGRAPHY */

* {
    margin: 0;
}

body {
    font-family: 'Merriweather', serif;
    color: #232324;
}

h1,h2,h3 {
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    padding-top: 20px;
    font-size: 45px;
}

h2 {
    padding-bottom: 10px;
}

p {
    font-size: 18px;
    padding: 15px 0;
    max-width: 741px;
    text-align: center;
    margin: auto;
}

.fineprint {
    text-align: left;
    font-size: 14px;
    color: #666666;
    margin: 0 10px;
}

#credits {
    padding: 0;
}

a {
    color: #999999;
    text-decoration: none;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

a:hover {
    color: #666666;
}


/* IMAGES */

img {
    max-width: 360px;
    height: auto;
}
/* CONTAINER */

#mainwidth {
    max-width: 1140px;
    height: 100%;
    padding: 2px 20px;
    margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-auto-rows: 360px;
  grid-gap: 15px;
  justify-content: center;
}

.item {
    padding: 0;
}

/* HEADER */

#header {
  padding: 0;
  border-bottom: 2px #8080801f solid;
}

.button {
    height: 40px;
    width: auto;
}

#nextlogo {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    text-align: center;
    padding-inline-start: 0;
}

nav ul li {
    text-transform: uppercase;
    font-weight: 600;
    list-style: none;
    display: inline-block;
    padding: 10px 4px;
}

nav ul li a {
  font-family: 'Merriweather Sans', sans-serif;
}

.has-submenu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  width: 300px;
  background: white;
  left: 0;
  padding: 15px 0;
}

/* FOOTER */

#footer {
    border-top: 2px #8080801f solid;
    margin-top: 20px;
}

/* SERIES INTRO */

#seriesintro {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1139px) {
    img {max-width: 330px;}

    .container {
      display: grid;
      grid-template-columns: 330px 330px;
      grid-auto-rows: 330px;
      grid-gap: 15px;
    }
}

@media (max-width: 680px) {
    img {max-width: 330px;}

    .container {
      display: grid;
      grid-template-columns: 330px;
      grid-auto-rows: 330px;
      grid-gap: 15px;
    }
}
